.substitutes-header-nav {
  border-style: hidden;
  margin-bottom: 0%;
}

.substitutes-container {
  background-color: rgb(55, 55, 66);
  color: #e3b04b;
  font-family: "Montserrat", sans-serif;
  margin-top: 0%;
}
